/artwork
/compiled/deps.js
/compiled/owg-optimized.js
/compiled/owg-optimized.map

# editors
/OpenWebGlobe.komodoproject
/.komodotools
/.idea

# build server:
/cloc.exe
/code_stats.bat

# internal tests
/source/tests

# MacOS
.DS_Store

